.top-bar {
  background-color: black;
	padding: 2.5rem;
  width: 100%;

}

.thenav {
  background-color: black;
  width: 100%;
}

.titlename {
  font-family: 'Rubik Mono One', sans-serif;
  color: #c39f04;
  padding: 11px;
}

.topright {
  font-family: 'Rubik Mono One', sans-serif;
  padding: 11px;
}

.topright :hover {
  color: red;
}


ul {
  list-style-type: none;
}



.top-bar ul {
  background-color: transparent !important;
	margin: 0px;
  text-align: center;
}

.small-block-grid-4 li {
	width: 25%;
	display: inline-block;
	list-style: none;
}
